@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Roboto:ital,wght@0,400;0,700;1,400&display=swap');

:root {
    --mont: 'Montserrat', sans-serif;
    --robot: 'Roboto', sans-serif;
    --black: #303440;
    --pink: #bf4e63;
    --white: #F2D5C4;
}

* {
    margin: 0;
    padding: 0;
}
body {
    max-width: 1280px;
    margin: 0 auto;
    font-family: var(--robot);
}
.header {
    background-color: var(--pink);
}
.navigat {
    display: flex;
    justify-content: center;
    gap: 50px;
    
}
.img1 {
    max-height: 300px;
    display: block;
    margin: 15px 0;
    border-radius: 10px;
}
.name {
    color: var(--black);
    font-size: 40px;
    margin: auto 0;  
    font-family: var(--mont);  
}
.main {
    display: flex;
    column-count: 2;
    column-gap: 0px;
    column-width: auto;

}
.left-section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    background-color: var(--black);
    color: var(--white);
    max-width: 30%;
    margin: 0;
}
.title {
    text-align: center;
    padding: 10px 0;
    font-family: var(--mont);
}
.about-me__p {
    padding: 0 10px;
}
.l-section {
    text-align: left;
}
.contact {
    text-align: left;
    padding: 10px 50px;
    font-family: var(--mont);
}
.title2 {
    text-align: center;
    padding: 10px 0;
    font-family: var(--mont);
}
.contact_p {
    padding: 0 100px;    
}
.right-section {    
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
    height: 60%;
    width: 100%;
    background-color: var(--white);
    color: var(--black);
    max-width: 100%;
    margin: 0;
}
.skills{
    text-align: left;
    padding: 20px 60px;    
}
.title3{
    text-align: left;
    padding: 10px 0; 
    font-family: var(--mont); 
}
.skills_p{
    text-align: left;    
}
.code{
    text-align: left;
    padding: 20px 60px;
}
.title4{
    text-align: left;
    padding: 10px 0;
    font-family: var(--mont);
}
.code_p{
    text-align: left;
}
.project{
    text-align: left;
    padding: 20px 60px;
}
.title5{
    text-align: left;
    padding: 10px 0;
    font-family: var(--mont); 
}
.educ{
    text-align: left;
    padding: 20px 60px;
}
.title6{
    text-align: left;
    padding: 10px 0; 
    font-family: var(--mont); 
}
.educ_p{
    text-align: left;
}
.lng{
    text-align: left;
    padding: 20px 60px;
}
.title7{
    text-align: left;
    padding: 10px 0; 
    font-family: var(--mont);
}
.lng_p{
    text-align: left;
}